/* 
Mixin Stylesheet
v1.0
Last Updated: 2018-06-01
Author: Asuki Kobayashi
Twitter: @ASCIIMIRAGE
*/

// ▼RESET CSS
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  font inherit
  list-style none
  vertical-align baseline
  background transparent

body
  line-height 1

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section 
  display block

nav ul
  list-style none

blockquote, q
  quotes none

blockquote before, blockquote after,
q before, q after
  content ''
  content none

a
  margin 0
  padding 0
  font-size 100%
  vertical-align baseline
  background transparent

/* change colours to suit your needs */
ins
  background-color #ff9
  color #000
  text-decoration none

/* change colours to suit your needs */
mark
  background-color #ff9
  color #000 
  font-style italic
  font-weight bold

del
  text-decoration  line-through

abbr[title], dfn[title]
  border-bottom 1px dotted
  cursor help

table
  border-collapse collapse
  border-spacing 0

img
  vertical-align bottom
/* change border color to suit your needs */
hr
  display block
  height 1px
  border 0   
  border-top 1px solid #cccccc
  margin 1em 0
  padding 0

input, select
  vertical-align middle

// reset button
button
  background-color transparent
  border none
  cursor pointer
  outline none
  padding 0
  appearance none
// ▲RESET CSS
// ▼FONT --------------------------------
// Yu Gothic first
font-family-Hiragino()
  font-family "ヒラギノ角ゴ ProN W6", Hiragino Kaku Gothic ProN, "Yu Gothic", "游ゴシック", YuGothic,  "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif
// Yu Gothic first
font-family-YuGothic()
  font-family "Yu Gothic", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif
// Yu Mincho first
font-family-YuMincho()
  font-family "Yu Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, serif

// Web font link Noto Sans @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700')
font-family-NotoSans()
  font-family 'Noto Sans', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif
// Web font link Noto Serif @import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700')
font-family-NotoSerif()
  font-family 'Noto Serif', "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, serif

// Web font link Noto Sans JP @import url('https://fonts.googleapis.com/earlyaccess/notosansjp.css')
font-family-NotoSansJP()
  font-family 'Noto Sans JP', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, sans-serif
// Noto Serif JP is NOT AVAILABLE
font-family-NotoSerifJP()
  font-family 'Noto Serif JP', "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", Hiragino Mincho ProN, "Helvetica Neue", Arial, "メイリオ", Meiryo, serif

// automatically font-face machine
font-face()
font-name = h-n-77
  @font-face
    font-family font-name
    src local(font-name),
    url(../fonts/font-name.otf) format('otf'),
    url(../fonts/font-name.woff) format('woff')
/*
.format
font-face()
font-name = animalize
  @font-face
    font-family font-name
    src local(font-name),
    url(../fonts/font-name.woff) format('woff'),
    url(../fonts/font-name.ttf) format('truetype'),
    url(../fonts/font-name.eot) format('embedded-opentype')
*/
// convert "rem"
pxtorem(prop, font_size)
  {prop}: unit(font_size, 'px')
  {prop}: unit(font_size / 16, 'rem')
/*
.sample
  pxtorem(font-size, 16)
*/
// ▲FONT --------------------------------
// ▼COLOR --------------------------------
// install colors
color-base = #000000 // base color
color-main = #000000 // main color
color-accent = #000000 // accent color
color-font = #000000 // font color
// link color
link(color-link)
  color color-link
  text-decoration none
  &:hover, &:active, &:visited, &:focus
    color color-link
    text-decoration none
/*
.sample
  a
    linkColor(#ccc)
*/
// active color
active(color-active)
  &:active
    background color-active
// ▲COLOR --------------------------------
// ▼OPACITY CROSS BROWSER --------------------------------
crossOpacity(opacity)
  opacity opacity
  filter alpha opacity * 100 // IE 6,7
  -ms-filter alpha opacity=opacity * 100 // IE 8,9
  -moz-opacity opacity // FF , Netscape
  -khtml-opacity opacity // Safari 1.x
  zoom 1 // IE
// ▲OPACITY CROSS BROWSER --------------------------------
// ▼DEFAULTS --------------------------------
// add your html, body tags this properties
defaults()
  height 100%
  -webkit-text-size-adjust 100%
  font-feature-settings "pkna"
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-display swap
  -webkit-overflow-scrolling touch
// ▲DEFAULTS --------------------------------
// ▼INNER --------------------------------
wrap()
  max-width 1280px
  padding 0 80px // 1280px - 160px
  margin 0 auto
  bxz()
  +bp(md)
    width 100%
    padding 0 20px

wrap_s()
  max-width 100%
  padding 0 20px
  margin 0 auto
  bxz()
// ▲INNER --------------------------------
// ▼CREARFIX --------------------------------
clearfix()
  &::after
    content ""
    display block
    clear both
// ▲CREARFIX --------------------------------
// ▼HIDETEXT --------------------------------
hidetext()
  text-indent 100%
  white-space nowrap
  overflow hidden
// ▲HIDETEXT --------------------------------
// ▼ELLIPSIS --------------------------------
ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  -ms-text-overflow ellipsis
// ▲ELLIPSIS --------------------------------
// ▼RADIUS --------------------------------
// left and right rounded
rounded(height)
  height height px
  bdrs(height / 2 px)
// ▲RADIUS --------------------------------
// ▼CIRCLE --------------------------------
circle(size)
  width size px
  height size px
  border-radius 100%
// ▲CIRCLE --------------------------------
// ▼PSEUDO ELLEMENTS + --------------------------------
block(color-pseudo)
  content ''
  background-color color-pseudo
  display block
// ▲PSEUDO ELLEMENTS + --------------------------------
// ▼CSS CHEAT (EMMET SOURCE) --------------------------------
// border-radius
bdrs(border-radius)
  border-radius border-radius px
// border-box
bxz()
  box-sizing border-box
// z-index
z(layer)
  z-index layer
// ▲CSS CHEAT (EMMET SOURCE) --------------------------------
// ▼CENTER --------------------------------
xySimpleCenter()
  position relative
  top 50%
  left 50%
  transform translateY(-50%) translateX(-50%)
  -ms-transform translateY(-50%) translateX(-50%)
  display block
xyCenter()
  position absolute
  top 50%
  left 50%
  transform translateY(-50%) translateX(-50%)
  -ms-transform translateY(-50%) translateX(-50%)
  display block
// ▲CENTER --------------------------------
// ▼FUCKING FAST IMAGE RESIZER -------------------------
resize-2x = 50%
resize-3x = 33%
resize-4x = 25%
hri(hri-size)
  for name in hri-size
    if name == '2x'
      width resize-2x
    if name == '3x'
      width resize-3x
    if name == '4x'
      width resize-4x
// ▲FUCKING FAST IMAGE RESIZER -------------------------
// ▼GRID LAYOUT --------------------------------
grixy()
  grid-gap 2px 2px
  grid-template-columns 1fr 1fr 1fr
  grid-template-rows auto
  display grid
// ▲GRID LAYOUT --------------------------------
// ▼FLEXBOX --------------------------------
// ▼flex
// center all
flex()
  display flex
flexy()
  align-items center
  justify-content center
  display flex
// center space-between
flexy-sb()
  align-items center
  justify-content space-between
  display flex
// center y
flexy-y()
  align-items center
  display flex
// center x
flexy-x()
  justify-content center
  display flex
// ▲flex
// ▼inline-flex
// center all
i-flexy()
  align-items center
  justify-content center
  display inline-flex
// center space-between
i-flexy-sb()
  align-items center
  justify-content space-between
  display inline-flex
// center y
i-flexy-y()
  align-items center
  display inline-flex
// center x
i-flexy-x()
  justify-content center
  display inline-flex
// ▲inline-flex
// ▲FLEXBOX --------------------------------
// ▼BREAKPOINT --------------------------------
// install screen sizes
screen-S = 600px
screen-M = 960px
screen-L = 1280px

bp(bpName)
  for name in bpName
    if name == 'sm'
      @media only screen and (max-width: screen-S)
        {block}
    if name == 'md'
      @media only screen and (max-width: screen-M)
        {block}
    if name == 'lg'
      @media only screen and (max-width: screen-L)
        {block}

bp_s(bpName)
  for name in bpName
    if name == 'sm'
      @media only screen and (min-width: screen-S)
        {block}
    if name == 'md'
      @media only screen and (min-width: screen-M)
        {block}
    if name == 'lg'
      @media only screen and (min-width: screen-L)
        {block}
/*
.sample
  width 100%
  +bp(lg)
   width 500px
  +bp(md)
    width 400px
  +bp(sm)
    width 300px
*/
// ▲BREAKPOINT --------------------------------